<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.14">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.14">
    <script>lock(&apos;resource1&apos;) {
    echo &apos;inside&apos;
}
echo &apos;Finish&apos;</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>